/* Titulo */
.intro__index {
    background-image: url('../imagenes/pexels-ron-lach-10048680.jpg');
    background-size: cover;
    background-position: center;
    height: 15rem;
    background-color: rgba(0, 0, 0, 0.55);
    background-blend-mode: darken;
    color: white;
    padding: 2rem;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Descripción de la web */
.intro__about {
    margin: 0 auto;
    padding: 1.5rem;
    text-align: justify;

}

.about__title {
    text-align: center;
    margin-bottom: 1rem;
}
/* Buscador de recetas por nombre */
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1.875rem;
}

.search__container {
    display: flex;
    justify-content: center;
}

/* Recetas después de buscarlas */
.contenedorRecetas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

.tarjetaReceta {
    background: #fafafa;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.img__card {
    width: 100%;
    height: auto;
    border-radius: 8px;

}

.button__recetas {
    border: none;
    color: white;
    padding: .5rem .75rem;
    margin-top: .5rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #a6acb3;
    transition: box-shadow 0.3s ease-in-out;
    /* Transición suave del efecto de sombra */
}

.button__recetas:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}


/* Sección de la receta del día */
.recipe__day {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}



/* Adaptación a desktop */
@media (min-width: 48rem) {
    .intro__index {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .intro__about {
        margin: 0 auto;
        padding: 1.5rem 3rem;
        text-align: center;
    }

    .search {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 1.875rem;


    }

    .search__container {
        display: flex;
        justify-content: center;
    }


    .recipe__day {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .contenedorRecetas {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        padding: 1rem;
    }

    .tarjetaReceta {
        background: #fafafa;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }

    .img__card {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}