.blog__title {
  font-family: "Dancing Script", cursive, sans-serif;
  text-align: center;
  font-size: 28px;
  margin: 20px 0;
}

.blog__post {
  display: flex;
  gap: 0.9375rem;
  align-items: center;
  padding: 15px;
  align-items: center;
  background-color: #ffffff;
}

.post__img {
  width: 40%;
  height: 9.375rem;
  object-fit: cover;
  border-radius: 8px;
}

.post__title {
  font-family: "playfair Display", serif;
  font-weight: 800;
  border-bottom: 1px solid #aaa7a4;
  margin: 0 0 0.625rem 0;
  font-size: 1rem;
  text-align: justify;
}

.post__content {
  font-family: "Lora", serif;
  display: flex;
  flex-direction: column;
  width: 60%;
  font-size: 15px;
}

.post__text {
  margin: 0 0 0.625rem 0;
  line-height: 1.2;
  text-align: justify;
}

.post__button {
  display: inline-block;

  text-decoration: none;
  padding: 5px 10px;
  background-color: #90b48b;
  color: #fdfdfd;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
