.content__Legal{
    margin: 0 auto;
    padding: 1.5rem;
    text-align: justify;
}

.list__cookies{
    list-style-type: none;
}

/* Contenedor principal */
.content__legal {
  margin: 0 auto;
  padding: 1.25rem;
  font-family: sans-serif;
  color: black;
  line-height: 1.6; /* Espaciado entre líneas para no cansar la vista */
}

/* Título principal */
.title {
  text-align: center;
  color: black;
  font-size: 1.5rem;
  margin-bottom: 1.875rem;
  border-bottom: .1875rem solid #e67e22;
  padding-bottom: .625rem;
}

/* Secciones individuales */
.legal__section, .privacy__section, .cookies__section {
  margin-bottom: 1.875rem;
}

/* Títulos de cada sección (H2) */
.title__legal, .titlePrivacy, .titleCookies {
  color: #2c3e50;
  font-size: 1.25rem;
  margin-bottom: .9375rem;
  padding-bottom: .3125rem;
}

/* Subtítulos (H3) */
.tittle__responsibility {
  font-size: 1.2rem;
  color: #444;
  margin-top: 1.25rem;
  margin-bottom: .625rem;

}

/* Párrafos y resaltados */
.text {
  margin-bottom: .9375rem;
  font-size: 0.95rem;
}



/* Lista de cookies */
.list__cookies {
  list-style: none;
}

.description__cookies {
  background: #f9f9f9;
  margin-bottom: .625rem;
  padding: .9375rem;
  border-left: .25rem solid #e67e22;
  border-radius: .25rem;
}


@media (min-width: 48rem) {
  .content__legal {
    max-width: 50rem;
    padding: 2.5rem;
  }

  .title {
    font-size: 2.2rem;
  }

  .title__legal, 
  .titlePrivacy, 
  .titleCookies {
    font-size: 1.6rem;
  }

  .text {
    font-size: 1rem;
  }
}
