.title {
   text-align: center;
    padding-top: 1.25rem;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.container__recipes{
    display: grid;
    grid-template-columns: 18.75rem;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.25rem 0;
    
}

.card__recipes {
    background: #fafafa;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.1);
}

.img__card {
    width: 100%;
    height: auto;
    border-radius: .5rem;

}

.button__recipes {
  border: none;
  color: white;
  padding: .5rem .75rem;
  margin-top: .5rem;
  cursor: pointer;
  border-radius: .3125rem;
  background-color: #a6acb3; 
  transition: box-shadow 0.3s ease-in-out;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.button__recetas:hover {
  box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.3); 
}

.title__recipes{
    text-align: center;
}

.btn__page.active {
  background-color: #f2f2f2;
  color: rgb(20, 19, 19);
  font-weight: bold;
}
.pagination{
  display: flex;
  justify-content: center;
  gap: .625rem;
  margin-top: 1.25rem;
  padding: 1.25rem;
}

.btn__page{
  padding: .5rem 1rem;
  border: .0625rem solid #136d10;
  background-color: white;
  color: #1d1004;
  cursor: pointer;
  border-radius: .25rem;
  transition: 0.3s;
}
.btn-page:hover {
  background-color: #fdf2e9;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal__content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  max-width: 80%;
  max-height: 60%;
  overflow-y: auto;
  text-align: center;
}

.modal__img {
  width: 70%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.close {
  float: right;
  font-size: 28px;
  cursor: pointer;
}
